name: Test
on:
    push:

jobs:
    build:
        uses: riotkit-org/.github/.github/workflows/python.release.yaml@release-1
        with:
            prepareCmd: "make poetry install"
            testCmd: "make test"
            sonarCloudEnabled: false

    release-container:
        needs: ["build"]
        uses: riotkit-org/.github/.github/workflows/release.container.yaml@release-1
        with:
            dockerImage: ghcr.io/riotkit-org/simple-backup
